*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 1. Colors _Pro-tip: Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors used on web pages._
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`. */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #777777;
}

a {
  text-decoration: none;
  color: #777777;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
}

header {
  /* display: block; */
  height: 4em;
  padding: 1.5em 0;
  background-color: white;
  border-bottom: 2px solid #cccccc;
}

/* Navbar */
.nav {
  justify-content: space-between;
}

.nav-logo {
  margin: 0;
  padding: 0;
  background-color: #4aaaa5;
  height: 100%;
}

.nav-item + .nav-item {
  margin-left: 1.875rem;
}
